<!DOCTYPE html>
<html>
<head>
	<title>Beefy Bois</title>
	<link href="https://fonts.googleapis.com/css?family=Chango" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
	<h1 id = 'title'>BeefyBois</h1>
	<script type="text/javascript" src='js/scripts.js'></script>
	<div id="bigAssLogo">
		<img id = 'logo' src="assets/BeefyBoisLogo.jpg">
	</div>
	<h2 class = 'center'>Meet the Bois!</h2>
	<div id="boisFlex">
		<div class="boisDiv">
			<h3>Christian</h3>
			<img class = 'boiPic' src="assets/christianpic.jpg" />
			<p>Football (specifically Seahawks and Washington Huskies football) is life for Christian.  When he isn't rooting for his favorite Seattle-based teams, you can find him in the recording studio perfecting his audio engineering skills or laying down some sick beats.</p>
		</div>
		<div class="boisDiv">
			<h3>Joe</h3>
			<img class = 'boiPic' id='joePic'src="assets/joepic.jpg" />
			<p>Born and raised in beautiful New Jersey, Joe is a lifelong New York Mets and Giants fan.  Joe was fascinated by both video games and marine life for as long and he can remember, and after years working as a field biologist on the Pacific Ocean Joe now works as a freelance web developer.  In his spare time he loves board games and bouldering.  </p>
		</div>
		<div class="boisDiv">
			<h3>Vito</h3>
			<img class = 'boiPic' src="assets/vitoPic.jpg" />
			<p>Hardcore World of Warcraft aficionado Vito brings his MMORPG expertise and award-winning giggle to the show.  While queing up to raid Vito loves rocking out to obscure death metal whenever possible. </p>
		</div>
	</div>
</body>
</html>