<!DOCTYPE html>
<html>
<head>
	<title>Beefy Bois</title>
	<link href="https://fonts.googleapis.com/css?family=Chango" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
	<nav>
		<ul>
			<li><a  class='navBarLink'href="/">Home</a></li>
			<li class='pipes'>|</li>
			<li><a  class='navBarLink'href="/reviews">Reviews</a></li>
			<li class='pipes'>|</li>
			<li><a target='_blank' class='navBarLink'href="https://www.facebook.com/beefyBois/">FaceBook</a></li>
			<li class='pipes'>|</li>
			<li><a target='_blank' class='navBarLink'href="https://itunes.apple.com/us/podcast/beefy-bois-bud-club/id1440102125">iTunes</a></li>
			<li class='pipes'>|</li>
			<li><a target='_blank' href="https://open.spotify.com/show/74KwEHTfjzdNNqcBB96TKm" class="navBarLink">Spotify</a></li>
			<li class='pipes'>|</li>
			<li><a target='_blank' class='navBarLink'href="https://www.youtube.com/channel/UCGgATtKgo1sJtVwRuggL1hA">YouTube</a></li>
			<li class='pipes'>|</li>
			<li><a target='_blank' class='navBarLink'href="https://www.instagram.com/beefyboisbudclub/">Instagram</a></li>
			<li class='pipes'>|</li>
			<li><a target='_blank' class='navBarLink'href="https://twitter.com/beefy_bois">Twitter</a></li>

		</ul>
	</nav>
	<div class="spacer"></div>
	<h1 id = 'title'>BeefyBois</h1>
	<div id="bigAssLogo">
		<img id = 'logo' src="assets/BeefyBoisLogo.jpg">
	</div>
	<h2 class="center">Episodes!</h2>
	<div id="blogRoll">
		<div class="blogPost">
			<h4 class='blogTitle'>Episode 24: Wanna See a Dead Body?</h4>
			<h6 class = 'blogDate'>April 15 2019</h6>
			<p class = 'blogbody'>This week, the bois talk the death of the AAF(1:00), the Fan Controlled Football League(06:20), the pros and cons of trying to play wide receiver in Madden(07:50), cool pet names (10:02), bumper stickers: a growing concern(12:20), whats up with the true crime love? (15:30),  MMA: cool or lame? (18:00), Joe drops the Dad joke of the week while we talk about Christians new haircut (20:20) and the joys of going to the barber (22:04).  Also, Christian is going to Mexico and he's excited (25:45), but first he shares the craziest stories from Home Depot (27:40) including a dude riding his bike into the store (32:30), the poop and lovemaking corner behind the store(34:45), and seeing some dude get murdered over a frozen turkey (36:45).  To finish up, Christian talks about seeing Michael Buble (46:05), we talk Final 4(50:10) and NHL Playoffs (52:12), the Jackbox games are a silly good time (53:25), Vito is mad about the Epic Store (58:20), Borderlands 3: will it be good? (1:00:30), is user generated content ever any good? (1:02:00), we hear from the listeners (1:08:08), the uncanny valley of sports video games (1:10:15), and finish off with Vito's Final Fantasy Corner (1:11:15). Enjoy!<iframe src="https://www.podbean.com/media/player/xemhp-ae098a?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0&pbad=1" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe></p>
		</div>
		<div class="blogPost">
			<h4 class='blogTitle'>Episode 23: Take Back the T-shirt</h4>
			<h6 class = 'blogDate'>April 8 2019</h6>
			<p class = 'blogbody'>Picking up where they left off last week, the Bois and Marq talk how "nice guys" have ruined black t-shirts(0:40), crazy Seattle weather(3:30), new Netflix Motley Crue biopic The Dirt(5:00), Pete Davidson, is he attractive? (6:15), is Bohemian Rhapsody a 'try hard'?(9:00), are you dead before you are born? (10:45), Christian's love of 80s hair metal (13:30), Michael Jackson docuseries Leaving Neverland(21:20), crazy things in New Zealand(26:15) and Seattle(28:00), what do we owe to the allergic?(31:30), we recap and preview some cool TV(34:30), Game of Thrones rules(37:00), The VVitch is a good flick(41:30), Hollywood is full of sleezeballs(43:00), new exciting movies(45:30), Netflix originals are fun(49:20), the Baywatch reboot was terrible (50:15), Christian's Concert Corner(51:45), and finally, Local Artist Of the Week: The Nomads(53:10). Enjoy!<iframe src="https://www.podbean.com/media/player/gbiwt-ad4daf?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0&pbad=1" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe></p>
		</div>
		<div class="blogPost">
			<h4 class='blogTitle'>Episode 22: What's a Macklemore?</h4>
			<h6 class = 'blogDate'>April 1 2019</h6>
			<p class = 'blogbody'>This week, fan favorite Marq joins the bois to discuss why drunk driving is bad (0:20), an NFL recap(1:20), Sweet 16 updates (04:55), the NBA Playoffs sans LeBron(07:50), Knicks owner James Dolan is a nutcase (8:20), Gronks next move after retiring(11:30), MLB opening day (12:45), Boston fans are spoiled (16:00), the new T-Mobile Park(17:24), we explain Macklemore to Vito (18:30), Is The Heist pretentious?(19:00), Sound Cloud rappers are awful(19:30), the bois love DMX (22:22), the return of Super Swipe Sunday (24:55), gettin busy in weird places (26:30), is circumcision ok? (30:00), Summer camp life(35:00), new exciting life changes (40:40), Google Stadia is exciting (43:30), Joe's obscure game of the week: Thronebreaker: The Witcher Tales (46:10), Vito's Final Fantasy 14 corner(47:20), Unexpected crowds watching you game (50:15), Black ops wants all your money (53:55), The Division 2 looks dope (55:30), Sekiro: Shadows Die Twice also looks dope (57:20), Vodka is best for hangovers (1:01:00), Love,Death, and Robots is a cool show (1:08:30), and Black Panther rules (1:10:00). Enjoy!<iframe src="https://www.podbean.com/media/player/qrm56-ac93dd?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0&pbad=1" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe></p>
		</div>
		<div class="blogPost">
			<h4 class='blogTitle'>Episode 21: The Keto Tito's Bandito</h4>
			<h6 class = 'blogDate'>March 18 2019</h6>
			<p class = 'blogbody'>Happy St. Patrick's Day everybody! This week, the bois talk OH DERP of the week: Christian's fingury (0:45), beer of the week: Ecliptic Brewery Carina Peach Sour (2:05), someone actually #boughtTheirDogATShirt(5:00), Joe is FIRED UP about the Odell trade (6:03), other random NFL thoughts (12:10), a short break for some technical dogficulties(14:50), Turtle Rock is making a spritual successor to Left 4 Dead (17:00) No Man's Sky has a new update (20:15), Christian, aka the Keto Bandito,  loves vodka sodas more than a sorority girl (21:30),Then we share some of our best drinking stories, including Vito at greenlake(24:15), Claude, the mythical beast (25:30), late night drunk snacking shame(28:45), mid morning taco-related shame (30:00), Super Swipe Sunday is dead, long live Super Swipe Sunday (33:40), Christian's mom throws epic house parties (35:20) Christian Sullivan: Irish Mexicano (38:20), screwing around in hotel rooms and airB&Bs (40:50), parkour HORSE and the birth of Scott Penny (43:15), the house party that destroyed the met market deli (44:00), tales from the greenlake apartment(45:00),  the first time we got drunk and smoked weed(48:20), War Groove is a good video game (52:20) The Keto Tito's Bandito and the case of the pizza bag, the ornamental planter, and the agless Croissantwich (54:00), roommates acting weird (58:20), Meeting people on the internet (1:00:00), our online girlfriends (1:01:20), Vito teaches American history (1:05:00), we share our rules regarding karaoke(1:08:12), Christian loves folk songs (1:17:25), Christians band of the week: Gibs band name (1:19:45), and we finish off with Vito's Metal Minute(1:24:44). Enjoy!<iframe src="https://www.podbean.com/media/player/yzmqg-ab20a6?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0&pbad=1" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe></p>
		</div>
		<div class="blogPost">
			<h4 class='blogTitle'>Episode 20: The Sickly Bois</h4>
			<h6 class = 'blogDate'>March 11 2019</h6>
			<p class = 'blogbody'>This week the bois, who all have the plague (or are just hella hungover), talk about Beer of the Week Pike Brewery Monk's Uncle(1:35), Share weird Budweiser facts(4:15), talk about their love of sushi with sake(5:30), Vito confuses PETA for pitas(7:30), Christian loves hot dogs (11:10), we talk Antonio Brown trade and almost trade(13:02), the Oakland Raiders are the luckiest team in the NFL (17:00), so many quality safeties available (18:10), NFL decision makers are idiots (19:10), are fullbacks important in 2019 (22:05), we gush on how great Brady and Belichick are (23:30) plus a few more NFL tidbits (25:15).  Next up, Anthem is bricking PS4s(27:45) a new DISC-less XBOX was announced (34:15), XBOX live on Switch?!?!?! (35:35), Christian still hasn't finished RDR2[minor spoilers](39:20), Christian is a big fan of the Deer Feet podcast (47:10), shares his thoughts on A Star is Born (48:00), movies that make Christian cry (51:00), anime is for nerds (52:55), and finally, CHRISTIAN GOES ON AN EPIC, 20 MINUTE, 3-PART rant about Jason Aldean, country artist of the decade(54:20) with minor tangents including Vito's Metal Minute(1:03:20), and our weekly input from the dogs (1:07:15).  Finally, support country artist Charlie Crockett(1:10:40) and everyone's favorite segment, The Surge Protector (because it's full of plugs! rimshot)(1:12:00) Enjoy!<iframe src="https://www.podbean.com/media/player/wz29a-aa6430?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0&pbad=1" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe></p>
		</div>
		<div class="blogPost">
			<h4 class='blogTitle'>Episode 19: The Lion, the Witch, and the Cupboard</h4>
			<h6 class = 'blogDate'>March 4 2019</h6>
			<p class = 'blogbody'>This week the bois are joined by frequent contributor Marq to discuss out Beer of the Week: Incline Cider Company's  Scout Hopped Marionberry Cider (0:40), Marq shares how he almost froze to death during the great snowpaclypse (3:30), we share crazy coworker injury stories (12:00), talk about Patriots owner Robert Craft getting caught up in a prostitution ring(13:45), contemplate Jeff Bezos' urinal habits (16:00), Keto diets are weird (18:00), Secret Surprise Second Beer of the Week: Red Hook's Continuous Revelation Coffee IPA (20:30), Bowser takes over Nintendo (21:30), the new Pokemon looks hella sweet (21:50), Christian loves NASCAR (23:30), should top NBA prospects participate in March Madness (25:15), Christian's obligatory 3 minutes on Huskies football (27:18), EA hasn't made a good game in years (29:55), Marq and Christian share their audio engineering dreams (33:05) the death of Super Swipe Sunday (38:00), dumb pranks with baking ingredients (40:55), Joe's Kingdom Hearts Minute (42:30), Christian likes Apex Legends now (42:40), Seeing football players in the wild (49:15), games we are excited for (52:00), Fallout '76(54:20), a note on UFC from our friends the Tall Bois (56:40), our weekly dog interruption (1:01:55), Christian hates music journalists (1:05:15), Vito is a kept man (1:08:30), country artist Sturgill Simpson (1:08:30), Vito loves metal (1:11:15), our #1 favorite deli-themed rapper, Viviana (1:16:00), and we give our sister podcast Deer Feet a shoutout (1:20:45) Enjoy!<iframe src="https://www.podbean.com/media/player/ayys3-a99d1a?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0&pbad=1" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe></p>
		</div>
		<div class="blogPost">
			<h4 class='blogTitle'>Episode 18: 1 Like = 1 Prayer</h4>
			<h6 class = 'blogDate'>February 24 2019</h6>
			<p class = 'blogbody'>Just Joe and Christian this week (Feel better Vito) to discuss the All-Pro Pro Curling Team (0:45), winter vs. summer olympics (04:40), Christian still loves the AAF (07:00), Trent Richardson's comeback (9:05), Zion Williamson's wardrobe malfunction(12:04), 2k Sports is better than EA Sports (13:15), AAF rules are hella weird (14:50), Russel Wilson to the New York Giants (16:45), best wide receivers (23:00), the Steelers are a mess (23:55), Giants rebuilding tips (25:15), the Cardinals be crazy (26:20), is Sam Darnold any good? (27:25), Joe's flat tire adventures (28:57), the Kingdom Hearts Minute (30:55), Dying Light does free updates right (32:30), Mayhem biopic 'Lords of Chaos' seems like a bad idea (40:40), we are joined by special guest Benjie the Dog (43:45), Christian's Kris Kristopherson concert (47:10), live music is lyfe for Christian in 2019 (50:15), we read a fan submitted poem (53:10), and wrap up with a Beefy Bois Health Club update (55:45). Enjoy!<iframe src="https://www.podbean.com/media/player/u6jhz-a8d433?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0&pbad=1" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe></p>
		</div>
		<div class="blogPost">
			<h4 class='blogTitle'>Episode 17: Snowpocalypse</h4>
			<h6 class = 'blogDate'>February 17 2019</h6>
			<p class = 'blogbody'>Following a one week snow related delay THE BEEFY BOIS ARE BACK!!!!!!!!!(Insert Jamaican dance hall air horn sound).  This week, the Bois sample Dayglow IPA from Elysian Brewing(1:11), discuss the great Seattle snowpocalypse(4:50), talk about the SnoozerBowl(7:45) and the snoozer halftime show (15:50), stadium rock(19:30), Christians KISS concert adventures(22:10), we have all played Apex Legends and have disparate views on it (27:00), Tetris 99 is ridiculous(36:20), the Anthem demo was a disaster(39:45), Christian loves TitanFall(41:02), Joe's Kingdom Hearts minute(42:50), upcoming games we really wanna play (45:00), getting too attached to characters in games with permadeath(46:20), Activision sucks (49:30), what we would do if we were millionaires(50:25), The new football league, the AAF, has christian all sorts of excited(52:40), Rugby is weird (59:30), Beefy Bois Health Club update (1:01:00), can athletes hear hecklers? (1:05:25), Christians XFL dreams(1:08:00), Marble sports are Joe's new youTube obsession(1:09:30), send us your Monopoly tickets (1:10:50), a quick chat about our favorite grocery stores (1:11:20), and WEVE MADE OUR FIRST MERCH SALE!!!! BIG SHOUTOUT!!!!!!(1:13:00) Enjoy!<iframe src="https://www.podbean.com/media/player/4dktj-a690da?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0&pbad=1" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe></p>
		</div>
		<div class="blogPost">
			<h4 class='blogTitle'>Episode 16: Super Bowl Preview</h4>
			<h6 class = 'blogDate'>February 03 2019</h6>
			<p class = 'blogbody'>In this super special superbowl special, the bois talk NFC (1:15) & AFC (8:00) championship recap, Christian hates Sean McVay and greatness (11:30), Jared Goff vs. Carson Wentz (17:00), Super Bowl trivia (18:30), the NCAA championship (19:50), Super bowl predictions(21:10), our favorite super bowl snacks (24:40) and wayyyy too early 2019 NFL predictions (40:15). Enjoy!<iframe src="https://www.podbean.com/media/player/6eqre-a84227?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0&pbad=1" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe></p>
		</div>
		<div class="blogPost">
			<h4 class='blogTitle'>Episode 15: Leavenworth it</h4>
			<h6 class = 'blogDate'>January 28 2019</h6>
			<p class = 'blogbody'>What's up knuckleheads! This week the bois (along side beer of the week Two Beers' Mango Passionfruit IPA (0:10)) explain what audibles are to Vito (1:30), talk about why the Pro Bowl sucks (5:05), Joe is angry at bad Tom Brady related science(10:00), dropping eggs off buildings as children(13:30),  new games Getting Over It(16:25), Kingdom Hearts(21:30), The Final Fantasy 7 Remake(25:00), Far Cry New Dawn(26:50), Anthem(32:45), and Resident Evil 2(34:45), our love for Blizzard games(37:15), playing games with our dads(41:50), website changes (43:55), youTube(46:15), Leavenworth is Leavenworth it (47:40), we answer fan questions (1:00:00), and Christian's country concert experience(1:03:30). Enjoy!<iframe src="https://www.podbean.com/media/player/wd6sh-a5eb44?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0&pbad=1" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe></p>
		</div>
		<div class="blogPost">
			<h4 class='blogTitle'>Episode 14: Call of Duty vs. Final Fantasy</h4>
			<h6 class = 'blogDate'>January 21 2019</h6>
			<p class = 'blogbody'>This week the bois are joined by local recording artist MexiJake to discuss their favorite Call of Duty and Final Fantasy games. I would write more but my laptop is dying. Enjoy!<iframe src="https://www.podbean.com/media/player/qq5j3-a50fc1?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0&pbad=1" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe></p>
		</div>
		<div class="blogPost">
			<h4 class='blogTitle'>Episode 13: Super Swipe Sunday</h4>
			<h6 class = 'blogDate'>January 14 2019</h6>
			<p class = 'blogbody'>Christian returns this week, along with special guest and fellow Chromback Gorillaz collaborator Marq(0:20) to discuss our beer of the week: Burke Gilman Brewery's Troll Tears (1:10), the disappointing end to the Seahawks season(8:20), Lamar Jackson(13:52) Joe Flacco's future(15:11), NFL recap (16:03), Bears/Eagles and kicking is hard (18:55), Christian loves tight ends (22:30) but hates Madden progression systems (23:00), Joe's obscure game of the week: Mutant Year Zero: Road to Eden(25:20), Spider-man is awesome(26:15), Vito still loves FFXIV(27:45), Zelda Breath of the Wild is good (28:16), The Chromeback Gorillaz do not like XBOX censorship (29:15), Christian loves Black Ops 4(33:02), Final Fantasy music is great(36:55), that time Joe was in a low speed car chase (39:45), Christian REALLY loves Black Ops 4(42:25), Halo is fun (48:30), Bungee drops Activision(49:25), Resident Evil 2 remake (52:20), great game soundtracks(53:15), Sunday morning playlists and routines (1:02:30), Seattle's obsession with combination dive bars Chinese restaurants(1:03:45), Modest Mouse (1:06:45), Super Swipe Sundays (1:08:35), manatee facts(1:10:30), Omegle, Chat Roulette, and XBOX Uno were crazy (1:13:20), Beefy boi fitness club (1:14:45), and listener questions(1:25:15). Enjoy! <iframe src="https://www.podbean.com/media/player/6frde-a47bca?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe></p>
		</div>
		<div class="blogPost">
			<h4 class='blogTitle'>Episode 12: An Ode to Final Fantasy XIV</h4>
			<h6 class = 'blogDate'>January 7 2019</h6>
			<p class = 'blogbody'>Happy New Year Knuckleheads! This week bois Joe and Vito (feel better Christian!) try another of the Rueben's Sour Series: Tart Cherry Weisse(1:00), Joe shares stories of having a cherry tree in the front yard(2:00), we brag about cool presents we got (2:50), discuss the internet fame of manatees(4:15), the joys and annoyances of having a birthday near Christmas(5:45), homemade heating pads(7:00), Joe shares some fish stories(8:30), we touch on Wild Card Weekend(12:30) then dive DEEEEEEEP into our undying love for Final Fantasy XIV(13:15), including what the game was like at launch (13:20) vs. now (16:20), how it compares to World of Warcraft(22:05), and all the cool side stuff to do.  Finally, we share our New Year's resolutions(36:30) and hear from the community. Also, we now have a <a href="https://www.youtube.com/channel/UCGgATtKgo1sJtVwRuggL1hA">YOUTUBE CHANNEL!!!!!!!!!!!!!!!!</a><iframe src="https://www.podbean.com/media/player/ddzsb-a3bd52?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe></p>
		</div>
		<div class="blogPost">
			<h4 class='blogTitle'>Episode 11: Best of 2018</h4>
			<h6 class = 'blogDate'>December 31 2018</h6>
			<p class = 'blogbody'>For this year end spectacular, the bois discuss their top albums of the year(0:45), Collin shares his perfect album(07:45) his thoughts on the nu metal fad(8:40), and his love of ska(12:30). Then we talk best movies of 2018(16:25)and why we are excited to see Spiderman: Into the Spider-verse(27:45). Next we delve into our top TV of the year(30:30) and why we love Black Mirror(37:20).&nbsp; Finally we talk games of the year(41:55, including MASSIVE FAR CRY 5 SPOILERS FROM 43:05-43:37), ponder all the dad dating sims(1:00:00), and the end of the fantasy football season(1:00:30).</p>
			<h5>Albums:</h5>
			<ul>
				<li>Cody Jinks: Lifers</li>
				<li>Midlands: On the Rocks</li>
				<li>Colter Wall: Songs of the Plains</li>
				<li>Superorganism: Superorganism</li>
				<li>Gurschach: Dark Matter</li>
				<li>Rise Against: Ghost Note Symphonies, Vol. I</li>
			</ul>
			<h5>Movies:</h5>
			<ul>
				<li>Black Panter</li>
				<li>Avengers: Infinity War</li>
				<li>Hereditary</li>
				<li>The Night Comes for Us</li>
				<li>Death Wish</li>
				<li>Ready Player One</li>
				<li>The Quiet Place</li>
				<li>Overlord</li>
				<li>Upgrade</li>
				<li>Bohemian Rhapsody</li>
				<li>Deadpool 2</li>
			</ul>
			<h5>TV:</h5>
			<ul>
				<li>Dogs (Netflix)</li>
				<li>Great British Baking Show (Netflix)</li>
				<li>The Chilling Adventures of Sabrina (Netflix)</li>
				<li>The Haunting of Hill House (Netflix)</li>
				<li>Castle Rock (Hulu)</li>
				<li>Homecoming(Amazon Prime)</li>
				<li>Bojack Horseman Season 5 (Netflix)</li>
				<li>Hilda (Netflix)</li>
				<li>Disenchanted(Netflix)</li>
				<li>Hard Knocks: Training Camp with the Cleveland Browns (HBO)</li>
			</ul>
			<h5>Video Games:</h5>
			<ul>
				<li>Far Cry 5</li>
				<li>HHL 19</li>
				<li>Madden 19</li>
				<li>Red Dead Redemption 2</li>
				<li>Monster Hunter: World</li>
				<li>Call of Cthulu</li>
				<li>Dark Souls Remastered&nbsp;</li>
				<li>Ni No Kuni 2: Revenant Kingdom</li>
				<li>Donut County</li>
				<li>Celeste</li>
				<li>Into the Breach</li>
				<li>God of War</li>
				<li>Valkyria Chronicles 4</li>
				<li>Marvel's Spider-Man</li>
				<li>The Messenger</li>
				<li>Detroit: Become Human</li>
				<li>Assassin's Creed: Odyssey</li>
				<li>Super Smash Bros. Ultimate&nbsp;</li>
			</ul>
			<iframe src="https://www.podbean.com/media/player/neivv-a2b2b5?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe>	
		</div>
		<div class="blogPost">
			<h4 class='blogTitle'>Episode 10: Chirmahaunakwanzaakah</h4>
			<h6 class = 'blogDate'>December 24 2018</h6>
			<p class = 'blogbody'>In this holiday special, the bois are joined by longtime friend and former roommate Colin Conway to discuss gnarly avoidable injuries(0:55), near death experiences on boats(4:52), and lame boat music (6:40).  We then sample Rueben's Roasted Rye IPA(7:50), share our crazy burn stories(9:40), hear from our listeners on their injuries(13:35), and discuss stupid firework related incidents(15:30).  Next we switch gears to discuss our best and worst gifts(19:55), Joe being dumb on Christmas as a kid (20:00), Russell Stover's chocolates are a lazy gift(21:02), excellent homemade gifts(21:02), our thoughts on Bartell's Drugs(24:25), giving bad gifts(25:40), Hess trucks(29:30), manatee jokes(31:00), and we hear from listeners on good and bad gift experiences(33:10).  From there we talk Egg nog and rank our favorite milks(36:35), what Christmas is like in Mexico(38:30), sample the Elysian Mens Room Red Ale(40:00), great holiday party stories (42:55) including the epic deli holiday party that served as the beefy bois origin story(43:02), our friend Claude is quite the character(48:00), our thoughts on Christmas movies(51:00), Christian's Christmas faux paus(53:25), the Billy Bob Thorton classic Bad Santa(54:45), why comedy sequels suck(56:50), whether we would take a punch from Mike Tyson for $20 million (58:40), Wham's Last Christmas and the Last Christmas challenge(1:00:30), Christmas music is better when you don't work retail(1:02:55), and what exactly is butt rock?(1:04:44). Happy holidays!<iframe src="https://www.podbean.com/media/player/d3nci-a2a0d4?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe></p>
		</div>
		<div class="blogPost">
			<h4 class='blogTitle'>Episode 9</h4>
			<h6 class = 'blogDate'>December 17 2018</h6>
			<p class = 'blogbody'>This week, Christian is fresh off a Seahawks loss(0:10), Vito doesn't understand 3rd stringers(1:50), George Kittle is amazing(4:30), we explain tight ends to Vito(4:52), officiating in the NFL is getting worse and worse(8:40), we sample our local beer of the week, Ruben's Holiday Gose(12:50), Joe's experience of living next door to a brew pub(14:35), the Mychal Kendricks story(18:20), college football playoffs(20:30), Cannibal Corpse guitarist arrested(20:20), seeing Cannibal Corpse live(26:00), the Dropkick Murphys put on an amazing show(27:30), Metalheads are sweethearts(30:40), running into your boss at a concert(32:15), seeing Against Me! live(33:00), Singer-Songwriters(34:20), exciting upcoming shows(35:20), Queen ft. Adam Lambert(36:30), the Last Christmas challenge(38:00), our thoughts on local brewery Elysian Brewing(41:00), Vito loves cider(46:46), Christian is a connoisseur of mass market light beer(48:15), the seasonality of bad beer(48:40), Blizzard and Telltale are screwing employees(52:00), should game studios unionize?(54:20), Activision sucks(55:15), the new Epic store and Steam competition(57:10), SquareEnix is mucking up the Smash experience(59:40), the Madden music is awful(1:02:05), Christian loves butt rock(1:03:00), weird grocery store music(1:05:05), what we are playing(1:07:10) and great game deals right now(1:09:20).<iframe src="https://www.podbean.com/media/player/pguks-a21d38?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe>
			</p>
		</div> 		
		<div class="blogPost">
			<h4 class='blogTitle'>Episode 8</h4>
			<h6 class = 'blogDate'>December 10 2018</h6>
			<p class = 'blogbody'>This week, the bois, alongside Christian's lovely girlfriend Hailey DeWolfe(0:20) taste the Boombastic Stout from Burke Gilman Brewing (0:50), talk other stouts they are fond of (4:15), discuss Hailey's favorite sports moment(5:25), the Mariners fire sale(11:30), Joe's conflicted feelings on new New York Mets general manager Brodie Van Wagenen(12:30), our personal experiences with ponzi schemes(15:08), the 2019 outlook for both the Mets and the Mariners(18:10), an NHL expansion team is coming to Seattle(19:20), the XFL's return (20:30), Christian's flag football league experience(23:30), Joe's airing of the fantasy football grievances(24:05). Then we explain how fantasy football works to Vito(27:05), discuss the proposal to ban MLB defensive shifts(29:45), why soccer rules and how to fix NFL overtime(32:54), Smash Ultimate is out and awesome(37:40), we talk Game Awards announcements, including Dragon Age 3, Mortal Kombat 11, Far Cry: New Dawn, and more (38:55), the new FFXIV expansion(42:40), our love of old handheld systems(44:20), Red Dead Redemption is still awesome(45:30).  After a quick detour into new segment the Beefy Bois Health Club(47:55), we dive deep on super hero movies(50:55), including a heated discussion on Black Panther(51:50), Infinity War(58:10), Thor Ragnarok(58:40), Guardians of the Galaxy(59:30), the Avengers Endgame trailer (1:03:40), DC movies are not great (1:04:30), cool Netflix shows(1:06:00), the Men in Black reboot rumors(1:07:30), our predictions for the Avengers: Endgame plot(1:11:00), and why Christian is scared of the Ocean(1:14:30).  Enjoy!<iframe src="https://www.podbean.com/media/player/djpk7-a17637?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe>
			</p>
		</div> 
		<div class="blogPost">
			<h4 class='blogTitle'>Episode 7</h4>
			<h6 class = 'blogDate'>December 3 2018</h6>
			<p class = 'blogbody'>In this beefy episode, the Bois are joined by special guest Marq to discuss the Apple Cup (0:50), Huskies offensive lineman and interacting with celebrities at work(7:30), and Marq's favorite sports moment(10:55).  Then we shift to Marq's love of fighting games(15:59), do our best to understand arcade economics(25:35), explore the wonder that is the Oriental Trading Company(27:15), share our best Smash Bros stories (28:48), Joe explains why the Nintendo Switch rules(39:24), Vito learns about the modern internet (44:03), why Fallout 76 is a disaster(44:50), our thoughts on the Red Dead Online Beta(46:06) and Walking Dead games(56:08), what we are playing right now (59:15), and why Anthem doesn't excite us(1:00:20). Finally, we talk about Marq's perfect albums(1:02:13), our undying respect for eclectic artists(1:05:00), Marq and Christian's music project The Chromeback Gorillas(1:15:42) including a world premier of a new Chromeback Gorillas track(1:17:10), and finally Joe shares one more crazy Thanksgiving story (1:28:41). Also, WE ARE LIVE ON SPOTIFY NOW!!!!!! You can find us <a href="https://open.spotify.com/show/74KwEHTfjzdNNqcBB96TKm">here</a>. <iframe src="https://www.podbean.com/media/player/nnins-a0e577?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe>
			</p>
		</div> 
		<div class="blogPost">
			<h4 class='blogTitle'>Episode 6</h4>
			<h6 class = 'blogDate'>November 26 2018</h6>
			<p class = 'blogbody'>In this extra special Thanksgiving episodes, the bois sample a variety of La Croix sparkling water flavors(0:10), share our best Thanksgiving family stories(3:40) talk about how our parents dealt with our cursing(22:05), hot takes on turkey (34:55), Washington state's weird weather(37:55), proper bar pool and karaoke etiquette(45:30), and finally we reveal the official Beefy Bois La Croix Flavor Rankings!(57:45).<iframe src="https://www.podbean.com/media/player/2y9r7-a03c6e?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe>
			</p>
		</div> 
		<div class="blogPost">
			<h4 class='blogTitle'>Episode 5</h4>
			<h6 class = 'blogDate'>November 19 2018</h6>
			<p class = 'blogbody'>This week, the bois talk about their unique fantasy football strategies(0:30),whether or not the Seahawks are actually any good(3:15), the dumpster fire that is the Monday Night Football announcing team(9:55),  Christian is exited for the future of Huskies football(24:50), we reminisce about the Nu Metal craze of the early 2000s(26:15), discuss upcoming shows we are hella excited about(35:10), Christian regales us with tales of his pet goat(40:50), we talk about the coolest times we were pulled from school as kids (42:51), we discuss our thoughts on hot new release video games Madden 19(44:52), Fallout 76(52:36), the botched announcement of Diablo Immortal(56:05), Battlefield 5 and what creators owe to their fans(59:40), if we think WoW Classic is going to be any good(1:08:04), Joe drops a hot Red Dead Redemption 2 tip(1:12:55), best gaming deals for Black Friday(1:13:18), and we finish off with Christian's review of recent movies(1:15:42) and Vito's thoughts on some cool books(1:21:17).<iframe src="https://www.podbean.com/media/player/zw29y-9f9e3d?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe>
			</p>
		</div> 
		<div class="blogPost">
			<h4 class='blogTitle'>Episode 4</h4>
			<h6 class = 'blogDate'>November 12 2018</h6>
			<p class = 'blogbody'>In this episode, the bois talk about Google's amazing Project Stream (signup <a href="https://projectstream.google.com/aco/signup">here</a>)and the digital media revolution(1:41), Joe and Christian interview episode 3 guest star Jonmac Boog Nelson about life as a semi-professional rodeo rider(21:38) and finish off with our NFL trade deadline recap and post season preditions(38:45). Enjoy!  The goFundMe page for JR Vezain can be found at <a href="https://www.gofundme.com/65w85a0">https://www.gofundme.com/65w85a0</a>, and WE NOW HAVE A MERCH STORE <a href="https://www.cafepress.com/beefyboismerch1">HERE!!!!!</a><iframe src="https://www.podbean.com/media/player/4cmwk-9ef0ba?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe>
			</p>
		</div>
		<div class="blogPost">
			<h4 class='blogTitle'>Episode 3: Super Special Spooktacular!!</h4>
			<h6 class = 'blogDate'>November 5 2018</h6>
			<p class = 'blogbody'>In this extra-special Halloween-themed episode, the bois are joined by rodeo rider Johnmac "Boog" Nelson to discuss their favorite spooky music, TV, and movies[0:30], best horror-esque video games[32:40], and our own personal experiences with the supernatural[48:25]<iframe src="https://www.podbean.com/media/player/6gkb6-9e4e16?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe>
			</p>
		</div>
		<div class="blogPost">
			<h4 class='blogTitle'>Episode 2 is Now Live!</h4>
			<h6 class = 'blogDate'>November 1 2018</h6>
			<p class = 'blogbody'>Join us as we profile local artists Jake Crocker(<a href="https://www.jakecrockermusic.com/">www.jakecrockermusic.com</a>) and MexiJake(<a href="https://soundcloud.com/mexijake">soundcloud.com/mexijake</a>)[0:08], share our best Red Dead Redemption 2 stories [12:08], and solve the disaster that is the College Football Playoff System[41:38].  Finally, we answer our sole piece of listener mail and hilarity ensues [1:00:00].<iframe src="https://www.podbean.com/media/player/n9fqh-9df8e8?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe>
			</p>
		</div>
		<div class="blogPost">
			<h4 class='blogTitle'>Apple Podcasts</h4>
			<h6 class = 'blogDate'>October 29 2018</h6>
			<p class = 'blogbody'>We are now live on iTunes!   <a href="https://itunes.apple.com/us/podcast/beefy-bois-bud-club/id1440102125 " target="_blank">Click here </a>to find us or just search for "Beefy Bois Bud Club" in the Apple Podcasts app.</p>
		</div>
		<div class="blogPost">
			<h4 class='blogTitle'>First Episode!</h4>
			<h6 class = 'blogDate'>October 24 2018</h6>
			<p class = 'blogbody'>Allllllllllright folks the first episode if finally here! Get to know as we discuss our favorite video games, most memorable sports moments, and our perfect albums.  You can listen below, and we should be all set on iTunes soon.  As soon as the iTunes feed is up, we will let you know both here and on social, but for now, enjoy!</p>
			<iframe src="https://www.podbean.com/media/player/aecuy-9d4b52?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe>
		</div>
		
	</div>
	<h2 class = 'center'>Meet the Bois!</h2>
	<div id="boisFlex">
		<div class="boisDiv">
			<h3>Christian</h3>
			<img class = 'boiPic' src="assets/christianpic.jpg" />
			<p>Football (specifically Seahawks and Washington Huskies football) is life for Christian.  When he isn't rooting for his favorite Seattle-based teams, you can find him in the recording studio perfecting his audio engineering skills or laying down some sick beats.</p>
		</div>
		<div class="boisDiv">
			<h3>Joe</h3>
			<img class = 'boiPic' id='joePic'src="assets/joepic.jpg" />
			<p>Born and raised in beautiful New Jersey, Joe is a lifelong New York Mets and Giants fan.  Joe was fascinated by both video games and marine life for as long and he can remember, and after years working as a field biologist on the Pacific Ocean Joe now works as a freelance web developer.  In his spare time he loves board games and bouldering.  </p>
		</div>
		<div class="boisDiv">
			<h3>Vito</h3>
			<img class = 'boiPic' src="assets/vitopic.jpg" />
			<p>Hardcore World of Warcraft aficionado Vito brings his MMORPG expertise and award-winning giggle to the show.  While queing up to raid Vito loves rocking out to obscure death metal whenever possible. </p>
		</div>
	</div>
	<script type="text/javascript" src='js/scripts.js'></script>
</body>
</html>