<!DOCTYPE html>
<html>
<head>
	<title>Beefy Bois</title>
	<link href="https://fonts.googleapis.com/css?family=Chango" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
	<h1 id = 'title'>BeefyBois</h1>
	<script type="text/javascript" src='js/scripts.js'></script>
	<div id="bigAssLogo">
		<img id = 'logo' src="assets/BeefyBoisLogo.jpg">
	</div>
	<h2 class="center">Episodes!</h2>
	<div id="blogRoll">
		<div class="blogPost">
			<h4 class='blogTitle'>Episode 2 is Now Live!</h4>
			<h6 class = 'blogDate'>November 1 2018</h6>
			<p class = 'blogbody'>Join us as we profile local artists Jake Crocker(<a href="https://www.jakecrockermusic.com/">www.jakecrockermusic.com</a>) and MexiJake(<a href="https://soundcloud.com/mexijake">soundcloud.com/mexijake</a>)[0:08], share our best Red Dead Redemption 2 stories [12:08], and solve the disaster that is the College Football Playoff System[41:38].  Finally, we answer our sole piece of listener mail and hilarity ensues [1:00:00].<iframe src="https://www.podbean.com/media/player/n9fqh-9df8e8?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe>
			</p>
		</div>
		<div class="blogPost">
			<h4 class='blogTitle'>Apple Podcasts</h4>
			<h6 class = 'blogDate'>October 29 2018</h6>
			<p class = 'blogbody'>We are now live on iTunes!   <a href="https://itunes.apple.com/us/podcast/beefy-bois-bud-club/id1440102125 " target="_blank">Click here </a>to find us or just search for "Beefy Bois Bud Club" in the Apple Podcasts app.</p>
		</div>
		<div class="blogPost">
			<h4 class='blogTitle'>First Episode!</h4>
			<h6 class = 'blogDate'>October 24 2018</h6>
			<p class = 'blogbody'>Allllllllllright folks the first episode if finally here! Get to know as we discuss our favorite video games, most memorable sports moments, and our perfect albums.  You can listen below, and we should be all set on iTunes soon.  As soon as the iTunes feed is up, we will let you know both here and on social, but for now, enjoy!</p>
			<iframe src="https://www.podbean.com/media/player/aecuy-9d4b52?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe>
		</div>

	</div>
	<h2 class = 'center'>Meet the Bois!</h2>
	<div id="boisFlex">
		<div class="boisDiv">
			<h3>Christian</h3>
			<img class = 'boiPic' src="assets/christianpic.jpg" />
			<p>Football (specifically Seahawks and Washington Huskies football) is life for Christian.  When he isn't rooting for his favorite Seattle-based teams, you can find him in the recording studio perfecting his audio engineering skills or laying down some sick beats.</p>
		</div>
		<div class="boisDiv">
			<h3>Joe</h3>
			<img class = 'boiPic' id='joePic'src="assets/joepic.jpg" />
			<p>Born and raised in beautiful New Jersey, Joe is a lifelong New York Mets and Giants fan.  Joe was fascinated by both video games and marine life for as long and he can remember, and after years working as a field biologist on the Pacific Ocean Joe now works as a freelance web developer.  In his spare time he loves board games and bouldering.  </p>
		</div>
		<div class="boisDiv">
			<h3>Vito</h3>
			<img class = 'boiPic' src="assets/vitopic.jpg" />
			<p>Hardcore World of Warcraft aficionado Vito brings his MMORPG expertise and award-winning giggle to the show.  While queing up to raid Vito loves rocking out to obscure death metal whenever possible. </p>
		</div>
	</div>
</body>
</html>