<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
	<h1 id = 'title'>BeefyBois</h1>
	<script type="text/javascript" src='js/scripts.js'></script>
	<div id="bigAssLogo">
		<h1>IMAGE GOES HERE</h1>
	</div>
	<div id="boisFlex">
		<div class="boisDiv">
			<h3>Christian</h3>
			<img class = 'boiPic' src="https://images.unsplash.com/photo-1496346776741-7297b9e34825?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fc7f7977041b9c6de1fcefc20e371d90&auto=format&fit=crop&w=1950&q=80" />
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div class="boisDiv">
			<h3>Joe</h3>
			<img class = 'boiPic' src="https://images.unsplash.com/photo-1496346776741-7297b9e34825?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fc7f7977041b9c6de1fcefc20e371d90&auto=format&fit=crop&w=1950&q=80" />
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div class="boisDiv">
			<h3>Vito</h3>
			<img class = 'boiPic' src="https://images.unsplash.com/photo-1496346776741-7297b9e34825?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fc7f7977041b9c6de1fcefc20e371d90&auto=format&fit=crop&w=1950&q=80" />
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
</body>
</html>