<!DOCTYPE html>
<html>
<head>
	<title>Beefy Bois</title>
	<link href="https://fonts.googleapis.com/css?family=Chango" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
	<h1 id = 'title'>BeefyBois</h1>
	<script type="text/javascript" src='js/scripts.js'></script>
	<div id="bigAssLogo">
		<img id = 'logo' src="assets/BeefyBoisLogo.jpg">
	</div>
	<h2 class="center">Episodes!</h2>
	<div id="blogRoll">
		<div class="blogPost">
			<h4 class='blogTitle'>Episode 9</h4>
			<h6 class = 'blogDate'>December 17 2018</h6>
			<p class = 'blogbody'>This week, Christian is fresh off a Seahawks loss(0:10), Vito doesn't understand 3rd stringers(1:50), George Kittle is amazing(4:30), we explain tight ends to Vito(4:52), officiating in the NFL is getting worse and worse(8:40), we sample our local beer of the week, Ruben's Holiday Gose(12:50), Joe's experience of living next door to a brew pub(14:35), the Mychal Kendricks story(18:20), college football playoffs(20:30), Cannibal Corpse guitarist arrested(20:20), seeing Cannibal Corpse live(26:00), the Dropkick Murphys put on an amazing show(27:30), Metalheads are sweethearts(30:40), running into your boss at a concert(32:15), seeing Against Me! live(33:00), Singer-Songwriters(34:20), exciting upcoming shows(35:20), Queen ft. Adam Lambert(36:30), the Last Christmas challenge(38:00), our thoughts on local brewery Elysian Brewing(41:00), Vito loves cider(46:46), Christian is a connoisseur of mass market light beer(48:15), the seasonality of bad beer(48:40), Blizzard and Telltale are screwing employees(52:00), should game studios unionize?(54:20), Activision sucks(55:15), the new Epic store and Steam competition(57:10), SquareEnix is mucking up the Smash experience(59:40), the Madden music is awful(1:02:05), Christian loves butt rock(1:03:00), weird grocery store music(1:05:05), what we are playing(1:07:10) and great game deals right now(1:09:20).<iframe src="https://www.podbean.com/media/player/pguks-a21d38?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe>
			</p>
		</div> 		
		<div class="blogPost">
			<h4 class='blogTitle'>Episode 8</h4>
			<h6 class = 'blogDate'>December 10 2018</h6>
			<p class = 'blogbody'>This week, the bois, alongside Christian's lovely girlfriend Hailey DeWolfe(0:20) taste the Boombastic Stout from Burke Gilman Brewing (0:50), talk other stouts they are fond of (4:15), discuss Hailey's favorite sports moment(5:25), the Mariners fire sale(11:30), Joe's conflicted feelings on new New York Mets general manager Brodie Van Wagenen(12:30), our personal experiences with ponzi schemes(15:08), the 2019 outlook for both the Mets and the Mariners(18:10), an NHL expansion team is coming to Seattle(19:20), the XFL's return (20:30), Christian's flag football league experience(23:30), Joe's airing of the fantasy football grievances(24:05). Then we explain how fantasy football works to Vito(27:05), discuss the proposal to ban MLB defensive shifts(29:45), why soccer rules and how to fix NFL overtime(32:54), Smash Ultimate is out and awesome(37:40), we talk Game Awards announcements, including Dragon Age 3, Mortal Kombat 11, Far Cry: New Dawn, and more (38:55), the new FFXIV expansion(42:40), our love of old handheld systems(44:20), Red Dead Redemption is still awesome(45:30).  After a quick detour into new segment the Beefy Bois Health Club(47:55), we dive deep on super hero movies(50:55), including a heated discussion on Black Panther(51:50), Infinity War(58:10), Thor Ragnarok(58:40), Guardians of the Galaxy(59:30), the Avengers Endgame trailer (1:03:40), DC movies are not great (1:04:30), cool Netflix shows(1:06:00), the Men in Black reboot rumors(1:07:30), our predictions for the Avengers: Endgame plot(1:11:00), and why Christian is scared of the Ocean(1:14:30).  Enjoy!<iframe src="https://www.podbean.com/media/player/djpk7-a17637?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe>
			</p>
		</div> 
		<div class="blogPost">
			<h4 class='blogTitle'>Episode 7</h4>
			<h6 class = 'blogDate'>December 3 2018</h6>
			<p class = 'blogbody'>In this beefy episode, the Bois are joined by special guest Marq to discuss the Apple Cup (0:50), Huskies offensive lineman and interacting with celebrities at work(7:30), and Marq's favorite sports moment(10:55).  Then we shift to Marq's love of fighting games(15:59), do our best to understand arcade economics(25:35), explore the wonder that is the Oriental Trading Company(27:15), share our best Smash Bros stories (28:48), Joe explains why the Nintendo Switch rules(39:24), Vito learns about the modern internet (44:03), why Fallout 76 is a disaster(44:50), our thoughts on the Red Dead Online Beta(46:06) and Walking Dead games(56:08), what we are playing right now (59:15), and why Anthem doesn't excite us(1:00:20). Finally, we talk about Marq's perfect albums(1:02:13), our undying respect for eclectic artists(1:05:00), Marq and Christian's music project The Chromeback Gorillas(1:15:42) including a world premier of a new Chromeback Gorillas track(1:17:10), and finally Joe shares one more crazy Thanksgiving story (1:28:41). Also, WE ARE LIVE ON SPOTIFY NOW!!!!!! You can find us <a href="https://open.spotify.com/show/74KwEHTfjzdNNqcBB96TKm">here</a>. <iframe src="https://www.podbean.com/media/player/nnins-a0e577?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe>
			</p>
		</div> 
		<div class="blogPost">
			<h4 class='blogTitle'>Episode 6</h4>
			<h6 class = 'blogDate'>November 26 2018</h6>
			<p class = 'blogbody'>In this extra special Thanksgiving episodes, the bois sample a variety of La Croix sparkling water flavors(0:10), share our best Thanksgiving family stories(3:40) talk about how our parents dealt with our cursing(22:05), hot takes on turkey (34:55), Washington state's weird weather(37:55), proper bar pool and karaoke etiquette(45:30), and finally we reveal the official Beefy Bois La Croix Flavor Rankings!(57:45).<iframe src="https://www.podbean.com/media/player/2y9r7-a03c6e?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe>
			</p>
		</div> 
		<div class="blogPost">
			<h4 class='blogTitle'>Episode 5</h4>
			<h6 class = 'blogDate'>November 19 2018</h6>
			<p class = 'blogbody'>This week, the bois talk about their unique fantasy football strategies(0:30),whether or not the Seahawks are actually any good(3:15), the dumpster fire that is the Monday Night Football announcing team(9:55),  Christian is exited for the future of Huskies football(24:50), we reminisce about the Nu Metal craze of the early 2000s(26:15), discuss upcoming shows we are hella excited about(35:10), Christian regales us with tales of his pet goat(40:50), we talk about the coolest times we were pulled from school as kids (42:51), we discuss our thoughts on hot new release video games Madden 19(44:52), Fallout 76(52:36), the botched announcement of Diablo Immortal(56:05), Battlefield 5 and what creators owe to their fans(59:40), if we think WoW Classic is going to be any good(1:08:04), Joe drops a hot Red Dead Redemption 2 tip(1:12:55), best gaming deals for Black Friday(1:13:18), and we finish off with Christian's review of recent movies(1:15:42) and Vito's thoughts on some cool books(1:21:17).<iframe src="https://www.podbean.com/media/player/zw29y-9f9e3d?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe>
			</p>
		</div> 
		<div class="blogPost">
			<h4 class='blogTitle'>Episode 4</h4>
			<h6 class = 'blogDate'>November 12 2018</h6>
			<p class = 'blogbody'>In this episode, the bois talk about Google's amazing Project Stream (signup <a href="https://projectstream.google.com/aco/signup">here</a>)and the digital media revolution(1:41), Joe and Christian interview episode 3 guest star Jonmac Boog Nelson about life as a semi-professional rodeo rider(21:38) and finish off with our NFL trade deadline recap and post season preditions(38:45). Enjoy!  The goFundMe page for JR Vezain can be found at <a href="https://www.gofundme.com/65w85a0">https://www.gofundme.com/65w85a0</a>, and WE NOW HAVE A MERCH STORE <a href="https://www.cafepress.com/beefyboismerch1">HERE!!!!!</a><iframe src="https://www.podbean.com/media/player/4cmwk-9ef0ba?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe>
			</p>
		</div>
		<div class="blogPost">
			<h4 class='blogTitle'>Episode 3: Super Special Spooktacular!!</h4>
			<h6 class = 'blogDate'>November 5 2018</h6>
			<p class = 'blogbody'>In this extra-special Halloween-themed episode, the bois are joined by rodeo rider Johnmac "Boog" Nelson to discuss their favorite spooky music, TV, and movies[0:30], best horror-esque video games[32:40], and our own personal experiences with the supernatural[48:25]<iframe src="https://www.podbean.com/media/player/6gkb6-9e4e16?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe>
			</p>
		</div>
		<div class="blogPost">
			<h4 class='blogTitle'>Episode 2 is Now Live!</h4>
			<h6 class = 'blogDate'>November 1 2018</h6>
			<p class = 'blogbody'>Join us as we profile local artists Jake Crocker(<a href="https://www.jakecrockermusic.com/">www.jakecrockermusic.com</a>) and MexiJake(<a href="https://soundcloud.com/mexijake">soundcloud.com/mexijake</a>)[0:08], share our best Red Dead Redemption 2 stories [12:08], and solve the disaster that is the College Football Playoff System[41:38].  Finally, we answer our sole piece of listener mail and hilarity ensues [1:00:00].<iframe src="https://www.podbean.com/media/player/n9fqh-9df8e8?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe>
			</p>
		</div>
		<div class="blogPost">
			<h4 class='blogTitle'>Apple Podcasts</h4>
			<h6 class = 'blogDate'>October 29 2018</h6>
			<p class = 'blogbody'>We are now live on iTunes!   <a href="https://itunes.apple.com/us/podcast/beefy-bois-bud-club/id1440102125 " target="_blank">Click here </a>to find us or just search for "Beefy Bois Bud Club" in the Apple Podcasts app.</p>
		</div>
		<div class="blogPost">
			<h4 class='blogTitle'>First Episode!</h4>
			<h6 class = 'blogDate'>October 24 2018</h6>
			<p class = 'blogbody'>Allllllllllright folks the first episode if finally here! Get to know as we discuss our favorite video games, most memorable sports moments, and our perfect albums.  You can listen below, and we should be all set on iTunes soon.  As soon as the iTunes feed is up, we will let you know both here and on social, but for now, enjoy!</p>
			<iframe src="https://www.podbean.com/media/player/aecuy-9d4b52?from=yiiadmin&download=1&version=1&skin=1&btn-skin=104&auto=0&share=1&fonts=Helvetica&download=1&rtl=0" height="122" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe>
		</div>

	</div>
	<h2 class = 'center'>Meet the Bois!</h2>
	<div id="boisFlex">
		<div class="boisDiv">
			<h3>Christian</h3>
			<img class = 'boiPic' src="assets/christianpic.jpg" />
			<p>Football (specifically Seahawks and Washington Huskies football) is life for Christian.  When he isn't rooting for his favorite Seattle-based teams, you can find him in the recording studio perfecting his audio engineering skills or laying down some sick beats.</p>
		</div>
		<div class="boisDiv">
			<h3>Joe</h3>
			<img class = 'boiPic' id='joePic'src="assets/joepic.jpg" />
			<p>Born and raised in beautiful New Jersey, Joe is a lifelong New York Mets and Giants fan.  Joe was fascinated by both video games and marine life for as long and he can remember, and after years working as a field biologist on the Pacific Ocean Joe now works as a freelance web developer.  In his spare time he loves board games and bouldering.  </p>
		</div>
		<div class="boisDiv">
			<h3>Vito</h3>
			<img class = 'boiPic' src="assets/vitopic.jpg" />
			<p>Hardcore World of Warcraft aficionado Vito brings his MMORPG expertise and award-winning giggle to the show.  While queing up to raid Vito loves rocking out to obscure death metal whenever possible. </p>
		</div>
	</div>
</body>
</html>