<!DOCTYPE html>
<html>
<head>
	<title>Beefy Bois</title>
	<link href="https://fonts.googleapis.com/css?family=Chango" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
	<nav>
		<ul>
            <li><a  class='navBarLink'href="/">Home</a></li>
            <li class='pipes'>|</li>
            <li><a  class='navBarLink'href="/reviews">Reviews</a></li>
            <li class='pipes'>|</li>
			<li><a target='_blank' class='navBarLink'href="https://www.facebook.com/beefyBois/">FaceBook</a></li>
			<li class='pipes'>|</li>
			<li><a target='_blank' class='navBarLink'href="https://itunes.apple.com/us/podcast/beefy-bois-bud-club/id1440102125">iTunes</a></li>
			<li class='pipes'>|</li>
			<li><a target='_blank' href="https://open.spotify.com/show/74KwEHTfjzdNNqcBB96TKm" class="navBarLink">Spotify</a></li>
			<li class='pipes'>|</li>
			<li><a target='_blank' class='navBarLink'href="https://www.youtube.com/channel/UCGgATtKgo1sJtVwRuggL1hA">YouTube</a></li>
			<li class='pipes'>|</li>
			<li><a target='_blank' class='navBarLink'href="https://www.instagram.com/beefyboisbudclub/">Instagram</a></li>
			<li class='pipes'>|</li>
			<li><a target='_blank' class='navBarLink'href="https://twitter.com/beefy_bois">Twitter</a></li>
		</ul>
	</nav>
	<div class="spacer"></div>
    <h1 id = 'title'>Game Reviews!</h1>
    <div class="reviewDiv">
        <h4 class="reviewTitle">Call of Duty:Black Ops 4</h3>
            <h6 class="reviewDateAndAuthor">Reviewed by Christian Sullivan January 22, 2019</h6>
            <!-- <h5 class="reviewAuthor"><em>Christian Sullivan</em></h5> -->
        <p class="reviewText">Right off the bat it feels just like being in a classic call of duty black ops game!! 
                Blops 3 for me was great and fun but it was littered with microtransactions pay to get material! But like I said the gameplay was fun I really enjoyed it! But it didnt have a authentic black ops feel. 
                Being a hardcore black ops 1 and 2 player and playing competitively for black ops 2 I spent a majority of my 2010-2014 playing blops 1 and 2! 
                I loved the way the game felt! It's hard to describe but there is a certain way call of duty changes the gameplay for this series it doesnt feel like any modern warfare call of duty it doesnt feel like the WW2 installments it just has it's own style of play and they kept that formula for all 4 games! 
                Right away you are going to notice there isnt a campaign which in all honesty I couldnt care less for a campaign at this point either futuristic soldiers and private military type characters! I loved the idea that they focused all on multiplayer and gave us 3 styles we can bounce around to. 
                First you got your classic multiplayer. TDM search and destroy and domination being the staples you also have other classics like kill confirmed and hard point plus others
                A new mode that I have really been into in the multiplayer section of the game is a mode called heist.
                Yes its obvious they stole the idea from CSGO but it doesnt stop the mode from being amazing! You got 2 teams trying to steal money and take to the extraction point
                All the while both teams are running around killing each other to collect in game money to buy rifles SMGs perks and equipment! 
                If the team is eliminated and or one of the teams actually extracts the money the round is over! And it goes first team to 4 round wins is victorious.
                They're are other multiplayer modes I have yet to get into but will comment on them once i do! 
                Now you got another mode which is gonna be black out! 
                If you are a fan of battle royal type video games such as fortnight and pub g you will love this mode. It's not as flashy as fortnight but kinda feels more like a PubG that's not a heaping pile of shit. 
                The world is huge! And has a lot of everyone's favorite maps from black ops series and zombies! I usually drop at raid or the asylum from zombies! You cant build walls and protection which adds a difficulty to the mode if you are transitioning from fortnight to black ops! But it's a great mode hard for me since I suck at battle royals but still lots of fun! 
                Moving on you have the call of duty staple which is zombies! Right away upon purchasing the game you get 3 zombie maps! Its fast paced and fun to play with your buddy's and pals but ever since black ops 2 I fell off the zombie train and stuck to multiplayer WW2 sort of brought me back into the zombies because it felt spookier and was classic nazi zombies! I'll be sure to give black ops 4 zombies a chance in the near future! With that being said I only have run into a couple online issues that only lasted about 5 minutes! 
                </p>
        <p class="score">Score: <strong>8.5/10</strong></p>
    </div>
	<script type="text/javascript" src='js/scripts.js'></script>
</body>
</html>