body {
	background-color: #bada55;
	font-size: 2em;
}

#title {
	text-align: center;
}

#bigAssLogo {
	border:1px solid gold;
	width:75vw;
	height: 80vh;
	margin: 0 auto;
}

#boisFlex {
	display: flex;
	justify-content: center;
}

.boiPic{
	width:100%;
	height: auto
}

.boisDiv {
	width:25vw;
	border:1px solid salmon;
}

.boisDiv h3 {
	text-align: center;
}