body {
	background-color: #dfe6e9;
	font-size: 2em;
	font-family: 'Chango', cursive;
	margin:0;
}

p {
	font-size:0.75em;
}

nav {
	padding:0;
	margin:0;
	position: fixed;
	width:100vw;
	background-color:black;
	height: 10vh;
}

nav ul {
	margin:0;
	padding:0;
	display:flex;
	justify-content: space-around;
	list-style-type:none;
	height: 100%;
	align-items: center;
}

#title {
	text-align: center;
}

#logo {
	width:80%;
	height: auto;
}

#blogRoll {
	width: 80vw;
	margin:0 auto;
}

#bigAssLogo {
	display: flex;
	justify-content: center;
	align-items: center;
	/*border:1px solid gold;*/
	width: 80vw;
	height: auto;
	margin: 0 auto;
}

#boisFlex {
	display: flex;
	justify-content: space-around;
}
.spacer {
	height: 100px;
	margin:0;
	padding:0;
}
.navBarLink, .navBarLink:hover, .navBarLink:visited, .pipes {
	font-size: 0.8em;
	border:0;
	text-decoration: none;
	color:yellow;
}

.navBarLink:hover {
	opacity: 0.5;	
}

.boiPic{
	width:100%;
}

.blogPost {
	background-color: #ecf0f1;
	border-radius:1%;
	width:100%;
	box-shadow: 3px 3px

}

.reviewDiv {
	background: #ecf0f1;
	width:66vw;
	/* border:1px solid black; */
	border-radius: 5px;
	margin: 0 auto;
	box-shadow: 2px 2px;
}

.blogDate, .reviewDateAndAuthor{
	opacity: 0.5;
	margin: 0;
	padding: 0;
}

.boisDiv {
	width:32vw;
	/*border:1px solid salmon;*/
}

.boisDiv h3 {
	text-align: center;
}

.center {
	text-align: center;
}