body {
	background-color: #dfe6e9;
	font-size: 2em;
	font-family: 'Chango', cursive;
}

p {
	font-size:0.75em;
}

#title {
	text-align: center;
}

#logo {
	width:80%;
	height: auto;
}

#blogRoll {
	width: 80vw;
	margin:0 auto;
}

#bigAssLogo {
	display: flex;
	justify-content: center;
	align-items: center;
	/*border:1px solid gold;*/
	width: 80vw;
	height: auto;
	margin: 0 auto;
}

#boisFlex {
	display: flex;
	justify-content: space-around;
}

.boiPic{
	width:100%;
}

.blogPost {
	background-color: #ecf0f1;
	border-radius:1%;
	width:100%;
	box-shadow: 3px 3px

}

.blogDate{
	opacity: 0.5;
	margin: 0;
	padding: 0;
}

.boisDiv {
	width:32vw;
	/*border:1px solid salmon;*/
}

.boisDiv h3 {
	text-align: center;
}

.center {
	text-align: center;
}